@page "/atleta_alterar/{Id}"
@using CadastroAtletasWasm.Helpers;
@using CadastroAtletaDll.DOs;
@inject NavigationManager NavigationManager

<PageTitle>Cadastro de Atletas</PageTitle>

<h1>Atletas</h1>

@if (obj == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <EditForm Model="@obj" OnValidSubmit="@Gravar">
    <DataAnnotationsValidator />
    <ValidationSummary />
        <div>
            <div>
                <label class="form-label">Nome</label>
                <input class="form-control" @bind="@obj.Nome" />
                <ValidationMessage For="() => obj.Nome" />
            </div>
            <div>
                <label class="form-label">Altura</label>
                <input class="form-control" @bind="@obj.Altura" />
                <ValidationMessage For="() => obj.Altura" />
            </div>
            <div>
                <label class="form-label">Peso</label>
                <input class="form-control" @bind="@obj.Peso" />
                <ValidationMessage For="() => obj.Peso" />
            </div>
            <div class="mt-2">
                <button class="btn btn-success" type="submit">Gravar</button>
                <a class="ml-1 btn btn-secondary" href="./atletas">Voltar</a>
            </div>

            <CadastroAtletaRecordManutencao IdMestre=@Id />

            <Imagem Entidade="atleta" Id=@Id />
            
        </div>
    </EditForm>
}

@code {
    protected async override Task OnInitializedAsync()
    {        
        obj = await api.RetornarPorIdAsync(Id);
    }

    private AcessoApi<AtletaDO> api = new AcessoApi<AtletaDO>("api/Atleta");

    private AtletaDO? obj = null;

    [Parameter]
    public string Id { get; set; } = "";

    private async void Gravar()
    {
        if (obj != null)
        {
            if (await api.AlterarAsync(obj))
            {
                NavigationManager.NavigateTo("atletas");
            }
        }
    }
}
